.column-list {
    list-style: none;
    padding-left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    flex-grow: 1;
}

.column-list-item {
    overflow-wrap: break-word;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    padding: 1rem;
}

.column-list-item:first-child {
    margin-left: 10px;
}

.empty-card-column-list-text {
    margin-bottom: 0;
}

.column-wrapper {
    height: 100%;
}