.home-link {
    font-size: 1.5rem;
    width: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    position: absolute;
    top: -3px;
}

.header {
    background: #2C3E50;
}

.logo {
    font-size: 1.7rem;
    color: white;
}

.logo-wrapper {
    text-align: center;
}