.column-list {
    list-style: none;
    padding-left: 0;
}

.column-list-item {
    overflow-wrap: break-word;
}

.empty-card-column-list-text {
    margin-bottom: 0;
}

.column-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.column-item {
    margin-bottom: 5px;
    box-shadow: 0 1px 0 rgba(9, 45, 66, .25);
}

.column {
    min-height: 20px;
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 40px;
}