.column-list-add-form input {
    margin-right: 3px;
    display: inline-block;
}

.column-list-add-form {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}